{# src/astrid/AdBundle/Resources/views/index.html.twig #}

{% extends "astridAdBundle::layout.html.twig" %}

{% block title %}
  Home
{% endblock %}

{% block body %}

  <h2>Welcome to MyAds</h2>
  <h3> Please enter a city and a category...</h3>

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.city) }}
    {{ form_row(form.category) }}

    {{ form_row(form.Search) }}
{{ form_end(form) }}

<h3> ... or write a new ad!</h3>

<a href="{{ path('astrid_ad_new') }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add advert</a>

{% endblock %}
