{# src/astrid/AdBundle/Resources/views/index.html.twig #}

{% extends "astridAdBundle::layout.html.twig" %}

{% block title %}
  Advert index 
{% endblock %}

{% block body %}

  <h2> Adverts in {{ city.name }} and in the {{ category.name }}  category :</h2>


{% for advert in ads %} 
	<p> <a href="{{ path('astrid_ad_view', {'id': advert.id}) }}" ><strong>{{ advert.title}} </strong></a> {{ advert.date|date('d/m/Y')}} <a href="{{ path('astrid_ad_edit', {'id': advert.id}) }} " class="btn btn-sm btn-warning" >Edit this ad</a> <a href="{{ path('astrid_ad_delete', {'id': advert.id}) }}" class="btn btn-sm btn-danger">Delete</a></p> 

{% endfor %}

{% endblock %}
